<div *ngFor="let song of songProfile.songs" style="display:flex">
  <div style="height:50px;width:50px;">
    <button class="btn" (click)="deleteSong(song)">X</button>
  </div>
  <div style="height:50px;width:300px;">{{ song }}</div>
</div>

<input
  [(ngModel)]="songToAdd"
  [typeahead]="allSongs"
  class="form-control"
  (typeaheadOnSelect)="addSong($event)"
  [typeaheadMinLength]="0"
/>

<div style="margin-top:10px;">
  <button (click)="saveSongs()" class="btn btn-primary">Save</button>
</div>
