<div *ngIf="songProfile">
  <div *ngFor="let song of songProfile.songs" style="margin-bottom:5px;">
    <div class="clearfix">
      <button
        type="button"
        class="btn btn-secondary float-left"
        (click)="deleteSong(song)"
      >
        X
      </button>
      <div class="float-left" style="margin-left:10px;">{{ song }}</div>
    </div>
  </div>
</div>

<input
  [(ngModel)]="songToAdd"
  [typeahead]="allSongs"
  class="form-control"
  (typeaheadOnSelect)="addSong($event)"
  [typeaheadMinLength]="0"
/>

<div style="margin-top:10px;">
  <button (click)="saveSongs()" class="btn btn-primary">Save</button>
</div>
